## Numpy

Introdução e principais comandos da biblioteca Numpy

In [7]:
import numpy as np

In [8]:
notas = []

for nota in range(10):
    numero = float(input("Informe um número: "))
    notas.append(numero)

array_numpy = np.array(notas)

In [9]:
print("desvio padrão", array_numpy.std())
print("média", array_numpy.mean())
print("ordenando", array_numpy.sort())
print("soma", array_numpy.sum())
print("soma", array_numpy.sum())

desvio padrão 2.8562913016707525
média 6.34
ordenando None
soma 63.4
soma 63.4

## Panda Series

Uma introdução a biblioteca Pandas e series

In [1]:
import pandas as pd

In [3]:
lista = [12, 24, 30, 25, 40, 19]
serie_pandas = pd.Series(lista)
print(serie_pandas)

0    12
1    24
2    30
3    25
4    40
5    19
dtype: int64

In [4]:
notas = {"Matheus" : 7.3, "Vitória" : 9.3, "Julia" : 6.9}
serie_notas = pd.Series(notas)
print(serie_notas)

Matheus    7.3
Vitória    9.3
Julia      6.9
dtype: float64

In [5]:
serie_notas.describe()

count    3.000000
mean     7.833333
std      1.285820
min      6.900000
25%      7.100000
50%      7.300000
75%      8.300000
max      9.300000
dtype: float64

In [8]:
#cria um dicionario com autores, preços e tirulos
dicionario = {"Autores" : ["Machado de Assis", "R. R Martin", "George Orwell"],
              "Titulos" : ["Dom casmurro", "Game of Thrones", "1984"],
              "Precos"  : [22.2, 23.5, 16.3]
              }

# criando dataframe 
df = pd.DataFrame(dicionario)
df

            Autores          Titulos  Precos
0  Machado de Assis     Dom casmurro    22.2
1       R. R Martin  Game of Thrones    23.5
2     George Orwell             1984    16.3

In [9]:
# Filtragem
mascara = (df["Autores"] == "Machado de Assis")
df[mascara]

            Autores       Titulos  Precos
0  Machado de Assis  Dom casmurro    22.2

In [12]:
#Adicionando elemento
df = df.append({"Autores" : "George Orwell", "Titulos" : "Revolução dos bichos", "Precos" : 30.20}, ignore_index=True)

C:\Users\meloy\AppData\Local\Temp\ipykernel_8404\2645945537.py:2: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({"Autores" : "George Orwell", "Titulos" : "Revolução dos bichos", "Precos" : 30.20}, ignore_index=True)